@media screen and (max-width: 1207px) {
    header {
        height: 100vh;
        justify-content: space-between;
        padding: 2em 1em;

    }
    nav {
        align-items: flex-start;
        justify-content: space-between;
        position: static;
        padding: 0;
    }
    nav div {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
       gap: 2em;
   }
   .hero_section .hero_container_2 {
    align-items: flex-end;
   }
   .hero_section .hero_container_2 ul {
    flex-direction: column;
    align-items: flex-start;
   }
   .hero-text h2 {
    font-size: 9vw;
    scale: 1.2 3;
   }
   .scroll-down {
    /* display: none; */
   }
   .about-c {
    padding: 10em 2em;
   }
   .about-c p {
    margin: 0;
   }
   #works {
    overflow: hidden;
   }
   .w-header-text {
    font-size: 11vw;
   }
   .work-header p {
    display: none;
   }
   .face {
    display: none;
   }

   .contact {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 10em;
}
.contact h2 {
    width: 50%;
    font-size: 2rem;
    font-weight: 900;
    color: #eee;
    /* line-height: 1rem; */
}
.contact footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    gap: 2em;
}
.f-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
}