@media screen and (max-width: 1207px) {
  .blob {
    display: none;
  }
  header {
    height: 90dvh;
    justify-content: space-between;
    padding: 2em 1em;
  }
  nav {
    align-items: flex-start;
    justify-content: space-between;
    position: static;
    padding: 0;
  }
  nav div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    padding: 0;
  }
  .scroll_down a {
    font-size: 0.6em;
  }
  .hero_section .hero_container_2 {
    align-items: center;
    justify-content: right;
    display: flex;
  }
  .hero_section .hero_container_2 ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    display: none;
  }

  .hero_section .hero_container_1 {
    /* padding: 2em 0; */
    overflow-x: hidden;
  }

  .hero_section .hero_container_1 p {
    /* font-size: 13vw; */
    scale: 1 2;
    line-height: 1em;
    margin-bottom: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .scroll_down {
    /* display: none; */
  }
  .about_c {
    width: 95%;
    padding: 2em 0em;
    margin: 0 auto;
  }
  .about_c p {
    width: fit-content;
    margin: 0em;
    font-size: 1.4em;
    animation-range-start: 100px;
  }

  #works {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
    position: static;
    margin-top: 2em;
    gap: 3em;
  }
  #works > a {
    width: 100%;
    min-height: 53vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5em;
    gap: 1rem;
  }
  #works > a::after {
    content: "see live";
    border: 1px solid #eeeeee3d;
    border-radius: 1em;
    padding: 0.5em;
    width: 100%;
    text-align: center;
  }
  #works > a {
      scale: 0.8;
      opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 100px;
    animation-range-end: contain;
  }
  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
  .w_header {
    font-size: 2rem;
    rotate: 0deg;
  }
  .line_right {
    left: 0;
    width: 100%;
    height: 1px;
  }
  
  .contact {
    min-height: 40vh;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 10em;
  }
  .contact footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 2em;
  }
  .f_links {
    display: flex;
    gap: 1em;
  }
}

@media screen and (max-width: 635px) {
  .about_header {
    font-size: 2rem;
    margin: 1rem;
    padding: 0;
  }
  .contact_wrapper {
    margin: 0;
    height: fit-content;
}
  .marque_container {
    font-size: 2.4rem;
    padding: 1rem;
  }
  .hero_section .hero_container_1 p {
    font-size: 10.5vw;
    scale: 1.6 2.5;
    line-height: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    text-align: center;
  }
}
