#works {
    width: 980%;
    height: 100vh;
    padding-left: 40em;
    display: flex;
    align-items: center;
    overscroll-behavior: none;
    position: sticky;
    top: 2em;
}
.line_right {
    width: 0%;
    /* height: 1vh; */
    border: .5px solid #eeeeee3d;
    display: block;
}

.box {
    height: 80vh;
    width: 20vw;
    border-right: 1px solid #eeeeee3d;
    position: relative;
    display: grid;
    place-items: center;
}
.box img {
    position: absolute;
    transform: translate(0%, 15%) scale(0.5) ;
    transition: transform 250ms, opacity 250ms;
    opacity: 0;
    pointer-events: none;
    width: min(50vw, 500px);
}
.box a:hover > .img-1 {
    opacity: 1;
    transform: translate(0%, 15%) scale(1) ;
}
.box a {
    font-size: 2.5rem;
    transform: rotate(90deg);
    white-space: nowrap;
    color: #eee;
}

.box-1 {
    /* margin-left: 59rem; */
}
.box-1::before {
    content: '01';
    color: #aaa;
    font-size: 2em;
    opacity: .5;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
}

.box-2::before {
    content: '02';
    color: #aaa;
    font-size: 2em;
    opacity: .5;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
}

.box-3::before {
    content: '03';
    color: #aaa;
    font-size: 2em;
    opacity: .5;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
}

.box-4::before {
    content: '04';
    color: #aaa;
    font-size: 2em;
    opacity: .5;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
}

.box-5::before {
    content: '05';
    color: #aaa;
    font-size: 2em;
    opacity: .5;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
}

.box-6::before {
    content: '06';
    color: #aaa;
    font-size: 2em;
    opacity: .5;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
}


@keyframes marque {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}