@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
a {
    color: #aaa;
    text-decoration: none;
}
body {
    background: #111;
    color: #eee;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    text-shadow:
    0 0 3px #eee,
    0 0 3px #eee;
    
}
/* body::before,
body::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 120svi;
    z-index: 999;
    opacity: 80%;
}

body::before {
    background: #eee;
    filter: url(#grainy);
} */
::-webkit-scrollbar {
    display: none;
}
.blob {
    /* background-color: #eee; */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: blob-anime 20s infinite;
    filter: blur(50px);
}
svg {
    display: none;
}
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    /* gap: 0rem; */
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div {
     display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 1.1em;
    padding: .5em;
    font-weight: 500;
    gap: 10em;
}

nav div button {
    background: transparent;
    z-index: 9999;
    border: 1px solid #eeeeee3d;
    position: relative;
    padding: .5rem;
    border-radius: 1em;
    cursor: pointer;
    color: #aaa;
}
nav div button  .bg{
    width: 30%;
    height: 100%;
    background-color: orangered;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 300ms width;
    border-radius: 1em;
}
nav div button:hover > .bg {
    width: 100%;
}

.hero-text h2{
    font-size: 7.2em;
    font-weight: bolder;
    position: relative;
    display: inline;
    line-height: 1em;
    margin-bottom: 3rem;
    letter-spacing: -.1rem;
}


.scroll-down {
    position: absolute;
    bottom: 1em;
    right: 4em;
    display: flex;
    align-items: center;
    gap: 2em;
}


.arrow-container span {
   animation-name: arrow-anime;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
   animation-duration: 1s;
   margin-bottom: 1em;
}
.contact {
    width: 100%;
    min-height: 40vh;
    display: grid;
    place-items: center;
    gap: 10rem;
    margin-top: 10em;
}
.contact h2 {
    font-size: 2rem;
    font-weight: 900;
    color: #eee;
    /* line-height: 1rem; */
}
.contact footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.f-links {
    display: flex;
    gap: 1em;
}
@keyframes arrow-anime {
    0% {
        transform: translate(0, 40%);
    }
    50% {
        transform: translate(0, 70%);
    }
    100% {
        transform: translate(0, 40%);
    }

}
@keyframes blob-anime {
  from {
        rotate: 0deg;
    }
    /* 50% {
        scale: 1 1.5;
    } */
    to {
        rotate: 360deg;
    }

}

