@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: #aaa;
    text-decoration: none;
}

body {
    background: #111;
    color: #aaa;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.blob {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, purple, rgb(255, 145, 0));
    animation: blob-anime 20s infinite;
    filter: blur(100px);
    display: none;
}

header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    gap: 2rem;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav div {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: 1.1em;
    padding: .5em;
    gap: 10em;
    overflow: hidden;
}

nav div button {
    background: transparent;
    z-index: 9999;
    border: 1px solid #eeeeee3d;
    position: relative;
    padding: .5rem;
    border-radius: 1em;
    cursor: pointer;
    color: #aaa;
}

nav div button .bg {
    width: 30%;
    height: 100%;
    background-color: rgb(182, 54, 8);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 300ms width;
    border-radius: 1em;
}

nav div button:hover>.bg {
    width: 100%;
}

.hero_section .hero_container_2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    position: relative;
}
.side_line {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #eeeeee3d;
}
.hero_container_2 ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
}

.hero_section .hero_container_1 {
    font-size: 15vw;
    font-weight: 900;
    line-height: 1em;
    margin: 1.3rem 0;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: -0.01em;  
    padding: 0.6em 0
}

.hero_section .hero_container_1 p {
    scale: 1 2;
    color: rgb(182, 54, 8);
    letter-spacing: .05EM;
    text-align: center;
}

.about-c {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 20em 3em;
    background-color: #111;
    z-index: 999;
    position: relative;
}

.about-c p {
    font-size: 1.4rem;
    word-spacing: -.1em;
    margin-left: 5em;
}

.scroll-down {
    display: flex;
    align-items: center;
    gap: 1em;
}


.arrow-container span {
    animation-name: arrow-anime;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    margin-bottom: 1em;
}


@keyframes arrow-anime {
    0% {
        transform: translate(0, 40%);
    }

    50% {
        transform: translate(0, 70%);
    }

    100% {
        transform: translate(0, 40%);
    }

}

@keyframes blob-anime {
    from {
        rotate: 0deg;
    }

    /* 50% {
        scale: 1 1.5;
    } */
    to {
        rotate: 360deg;
    }

}